<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Aluno</title>
</head>
<body>
    <h1>Bem-vindo, Aluno!</h1>
    <nav>
        <a href="/">Voltar ao Login!</a>
    </nav>
    <br>
    <div>
        <!-- Use o elemento <a> para criar um link -->
        <a href="/dados/{{ token }}/{{ id }}">
            <button type="button" name="btn-dados">Dados Pessoais</button>
        </a>
    </div>
</body>
</html>
