<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/css/cadastro.css"> <!-- Certifique-se de substituir pelo caminho real do seu arquivo CSS -->
    <link rel="icon" href="/static/image/cadastro.png">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var form = document.getElementById("cadastroForm");

            form.addEventListener("submit", function(event) {
                if (!validateForm()) {
                    event.preventDefault(); // Impede o envio do formulário se a validação falhar
                    displayErrorMessage("Por favor, preencha todos os campos.");
                }
            });

            var inputs = document.querySelectorAll("input");

            inputs.forEach(function(input) {
                input.addEventListener("focus", function() {
                    this.classList.add("focused");
                });

                input.addEventListener("blur", function() {
                    this.classList.remove("focused");
                });
            });

            // Adiciona eventos para os botões de exibição/ocultação de senhas
            var showPasswordButtons = document.querySelectorAll(".show-password-btn");
            showPasswordButtons.forEach(function(button) {
                button.addEventListener("click", togglePasswordVisibility);
            });

            // Adiciona evento para o botão de gerar senha aleatória
            var generatePasswordButton = document.getElementById("generatePasswordBtn");
            generatePasswordButton.addEventListener("click", generateRandomPassword);
        });

        function validateForm() {
            var nome = document.getElementById("nome").value;
            var email = document.getElementById("email").value;
            var senha = document.getElementById("senha").value;
            var repetirSenha = document.getElementById("repetirSenha").value;
            var cpf = document.getElementById("cpf").value;
            var telefone = document.getElementById("telefone").value;
            var tipoUsuario = document.querySelector('input[name="tipoUsuario"]:checked');

            // Exemplo de validação simples
            if (nome === "" || email === "" || senha === "" || repetirSenha === "" || cpf === "" || telefone === "" || !tipoUsuario) {
                displayErrorMessage("Por favor, preencha todos os campos.");
                return false;
            }

            // Verifica se as senhas coincidem
            if (senha !== repetirSenha) {
                displayErrorMessage("As senhas não coincidem.");
                return false;
            }

            return true;
        }

        function displayErrorMessage(message) {
            var errorMessage = document.createElement("p");
            errorMessage.style.color = "red";
            errorMessage.textContent = message;

            var form = document.getElementById("cadastroForm");
            form.appendChild(errorMessage);

            // Limpar a mensagem após alguns segundos (opcional)
            setTimeout(function() {
                errorMessage.remove();
            }, 3000);
        }

        function togglePasswordVisibility() {
            var passwordInput = document.getElementById(this.dataset.target);
            passwordInput.type = passwordInput.type === "password" ? "text" : "password";
        }

        function generateRandomPassword() {
            var length = 10; // Define o comprimento da senha
            var charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
            var password = "";
            for (var i = 0; i < length; i++) {
                var randomIndex = Math.floor(Math.random() * charset.length);
                password += charset[randomIndex];
            }
            document.getElementById("senha").value = password;
            document.getElementById("repetirSenha").value = password;
        }
    </script>
</head>
<body>
    <h1>Cadastro</h1>
    <form action="/cadastro" method="post" id="cadastroForm">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br>

        <label for="senha">Senha:</label>
        <div class="password-container">
            <input type="password" id="senha" name="senha" required>
            <button type="button" class="show-password-btn" data-target="senha">Mostrar</button>
            <button id="generatePasswordBtn">Gerar Senha Aleatória</button>
        </div>
        <br>

        <label for="repetirSenha">Repetir Senha:</label>
        <div class="password-container">
            <input type="password" id="repetirSenha" name="repetirSenha" required>
            <button type="button" class="show-password-btn" data-target="repetirSenha">Mostrar</button>
        </div>
        <br>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" required><br>

        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" name="telefone" required><br>

        <label for="tipoUsuario">Tipo de usuário:</label>
        <input type="radio" id="tipoUsuario" name="tipoUsuario" value="1"> Professor
        <input type="radio" id="tipoUsuario" name="tipoUsuario" value="2"> Aluno<br>

        <div class="button-container">
            <input type="submit" value="Cadastrar">
            <input type="reset" value="Limpar Dados">
        </div>
        <p>Já possuí cadastro? <a href="/">Clique aqui</a> para retornar ao login</p>
    </form>

