<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro de acesso-Aluno!</title>
</head>
<body>
    <h1>Houve um erro de acesso para aluno</h1>
    <p>Motivo: {{ motivo }}</p>
    <h2>Resultado da consulta: Error {{ resp }}</h2>
    <nav>
        <p>Voltar a sua área do Aluno: <a href="aluno.html">Clique aqui!</a></p>
        <p>Votar a área de Login: <a href="/">Acesso ao Login</a></p>
    </nav>
</body>
</html>