<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Error</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/image/aviso.jpeg">
    <!-- Adicionando um link para o arquivo CSS -->
    <link rel="stylesheet" href="/static/css/error.css">
</head>
<body>
    <div class="container">
        <h1 class="error">Ooooops!</h1>
        <h2 class="mensage">Erro 404</h2>
        <img class="image" src="/static/image/gato_bugado.jpg">
        <br><br>
        <p class="message">Não fununcia brow, dá o corre aí com a URL!!!</p>
        <p class="message">Motivo: A url que você procura não existe!!!!!!!!</p>
        <p class="message">Não quer dar o corre? <a class="link" href="{{url_for('Acessar')}}">Clique aqui</a> e volte ao login</p>
    </div>
</body>
</html>